$c-gray: #000b26
$c-gray-72: rgba($c-gray, .72)
$c-green: #07C88E
$c-dark: #242b3c
$c-light: #f0f1f4
$c-main: #000B26
$c-shadow: #353535
$c-shadow-12: rgba($c-shadow, .12)

$c-darkblue: rgb(0, 11, 38)
$c-darkblue-56: rgba($c-darkblue, 0.56)
$c-darkblue-72: rgba($c-darkblue, 0.72)
$c-darkblue-80: rgba($c-darkblue, 0.80)
$c-lightblue: rgb(62, 80, 114)
$c-lightblue-08: rgba($c-lightblue, 0.08)
$c-blue: rgb(18, 34, 88)
$c-blue-12: rgba($c-blue, 0.12)