@import "../../styles/colors"
@import "../../styles/fonts"

.auth
  background-color: white
  margin: 48px
  display: flex
  flex-direction: column
  gap: 48px


.authHeader
  display: flex
  justify-content: space-between

  svg
    color: $c-blue-72

.authHeader > span
  font-weight: 600
  font-size: 28px
  line-height: 32px
  color: $c-blue-88

.authMain
  display: flex
  flex-direction: column
  gap: 32px

.fields
  display: flex
  flex-direction: column
  gap: 24px

.login
  display: flex
  flex-direction: column
  gap: 16px


.successMessage
  color: green

.errorMessage
  color: red

.error
  color: red
  font-size: 14px

.links
  display: flex
  justify-content: space-between





