@import "src/styles/fonts"
@import "src/styles/colors"

.block
  border: 1px solid rgba(62, 80, 114, 0.16)
  border-radius: 16px
  display: flex
  flex-direction: column
  width: 270px
  padding: 20px 0
  margin-right: 40px

.text
  font-weight: 500
  color: $c-gray-72
  margin-bottom: 15px
  font-size: 16px

.box
  margin: 20px 100px 0 20px

.choose
  display: flex
  flex-direction: column
  margin-bottom: 20px
